@font-face {
  font-family: custom;
  src: url('./assets/fonts/GloriaHallelujah-Regular.ttf');
  font-display: swap;
}

#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.svh {
  min-height: 100vh;
  min-height: 100svh;
}

.bg-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body {
  min-height: 100vh;
  min-height: 100svh;
  background-color: rgb(26, 24, 22);
}